<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li>
            <button (click)="onGetAllProducts()" class="btn btn-outline-info m1-2">All</button>
        </li>
        <li>
            <button class="btn btn-outline-info m1-2">Selected</button>
        </li>
        <li>
            <button class="btn btn-outline-info m1-2">Available</button>
        </li>
    </ul>
</nav>

<!-- <ng-container *ngIf="products$ | async as result"  [ngSwitch]="result.dataState">
<ng-container *ngSwitchCase="DataStateEnum.LAODING">
Loading... .
</ng-container>
<ng-container *ngSwitchCase="DataStateEnum.LAODED">

</ng-container>
<ng-container *ngSwitchCase="DataStateEnum.ERROR">
Error
</ng-container>
</ng-container> -->

<div class="container" *ngIf="products$">
    <table class="table">
        <tr>
            <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Selected</th><th>Available</th>
        </tr>
        <tr *ngFor="let p of products$ | async">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.selected}}</td>
            <td>{{p.available}}</td>
        </tr>

    </table>
</div>
